   <section class="commentaire">
 <div class="text-container4">
  <p class="subtitle">TÉMOIGNAGES</p>
  <h2 class="title">Que disent les clients ?</h2>
</div>

  <div class="testimonial-container">
    <button class="arrow left">←</button>

    <div class="testimonial-card">
      <img src="/images/Liloyd.jpeg" alt="photo-client " class="testimonial-photo">
      <p class="testimonial-text">
       Grâce à NTAS, nos installations de sécurité industrielle sont désormais à la pointe.
        Une équipe sérieuse, efficace et réactive.
      </p>
      <h4>John Carter</h4>
      <p class="client-role">CEO AUtoliv</p>
    </div>

    <button class="arrow right">→</button>
  </div>
</section>