<footer class="footer">
  <div class="footer-top">
    <h2>Obtenez votre devis gratuit dès maintenant</h2>
    <form class="footer-form" action="#formulaire-contact">
      <input type="email" placeholder="Entrez votre email..." required />
      <button type="submit">OBTENEZ UN DEVIS GRATUIT</button>
    </form>
  </div>

  <div class="footer-middle">
    <div class="footer-logo">
      <img src="/images/logontas.png" alt="Logo" />

    </div>
    <div class="social-icons">
          <a href="#"><img src="/images/facebook.png" alt="Facebook" /></a>
          <a href="#"><img src="/images/instagram.png" alt="Twitter" /></a>
          <a href="#"><img src="/images/linkedin.png" alt="Instagram" /></a>
        </div>
    <ul class="footer-links">
      <li><a href="/">MAISON</a></li>
      <li><a href="/about">À PROPOS</a></li>
      <li><a href="/services">SERVICES</a></li>
      <li><a href="/projects">PROJETS</a></li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>
      
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2025 NTAS, Tous droits réservés.</p>
  </div>
</footer>