 <section class="projets">
        <h2>Nos Projets en Cours</h2>
        
        <div class="grid-container" id="projectsGrid">
            <!-- Page 1 -->
           <a href="/elyssa" class="proj-link">
                <div class="proj page-1" data-page="1">
                    <div class="proj-image" style="background-image: url('/Photos/Autoliv/Good/auto.jpg')"></div>
                    <div class="proj-title">AUTOLIV-ELYSSA</div>
                    <div class="proj-arrow"></div>
                </div>
           </a>
            
             <a href="/cca"  class="proj-link">
                 <div class="proj page-1" data-page="1">
                    <div class="proj-image" style="background-image: url('/Photos/Visteon/visteonGood.jpeg')"></div>
                    <div class="proj-title">EXTENSION CCA</div>
                    <div class="proj-arrow"></div>
                </div>
            </a>
           
             <a href="/kadatex"  class="proj-link">
                    <div class="proj page-1" data-page="1">
                        <div class="proj-image" style="background-image: url('/Photos/YAZAKI/good.jpg')"></div>
                        <div class="proj-title">KADATEX</div>
                        <div class="proj-arrow"></div>
                    </div>
             </a>

            <a href="/intelcia"  class="proj-link">
                <div class="proj page-1" data-page="1">
                    <div class="proj-image" style="background-image: url('/Photos/SEBN_El_Fajja/proj.jpeg')"></div>
                    <div class="proj-title">INTELCIA</div>
                    <div class="proj-arrow"></div>
               </div>
            </a>  
           
            <a href="/sebn2"  class="proj-link">
              <div class="proj page-1" data-page="1">
                    <div class="proj-image" style="background-image: url('/Photos/LAKE_BAY/proj.jpg')"></div>
                    <div class="proj-title">EXTENSION SEBN TN2</div>
                    <div class="proj-arrow"></div>
             </div>
                    
            </a>
            
             <a href="/sebn3"  class="proj-link">
                 <div class="proj page-1" data-page="1">
                <div class="proj-image" style="background-image: url('/Photos/ORANGE/proj.jpg')"></div>
                <div class="proj-title">SEBN TN3</div>
                <div class="proj-arrow"></div>
            </div>

             </a>
           

            <!-- Page 2 -->
              <a href="/lakebay2"  class="proj-link">
                 <div class="proj page-2 hidden" data-page="2">
                    <div class="proj-image" style="background-image: url('/Photos/LAKE_BAY/proj.jpg')"></div>
                    <div class="proj-title">LAKE BEY</div>
                    <div class="proj-arrow"></div>
                </div>

              </a>
           
             <a href="/orange"  class="proj-link">
              <div class="proj page-2 hidden" data-page="2">
                    <div class="proj-image" style="background-image: url('/Photos/SEWS/proj.jpg')"></div>
                    <div class="proj-title">ORANGE</div>
                    <div class="proj-arrow"></div>
              </div>

             </a>
            
             <a href="/meuble"  class="proj-link">
                <div class="proj page-2 hidden" data-page="2">
                    <div class="proj-image" style="background-image: url('/Photos/Tunisie_Cable/proj.jpeg')"></div>
                    <div class="proj-title">MEUBLE 216 </div>
                    <div class="proj-arrow"></div>
                </div>
             </a>
           
             
             <a href="/visteon2"  class="proj-link">
                 <div class="proj page-2 hidden" data-page="2">
                    <div class="proj-image" style="background-image: url('https://images.unsplash.com/photo-1581092160607-ee67ecf3fbf2?w=500&h=300&fit=crop')"></div>
                    <div class="proj-title">EXTENSION VISTEON</div>
                    <div class="proj-arrow"></div>
                </div>

             </a>
            

            <!-- Page 3 -->
              <a href="/visteon"  class="proj-link">
                <div class="proj page-3 hidden" data-page="3">
                    <div class="proj-image" style="background-image: url('https://images.unsplash.com/photo-1565616464561-a4cb0387c8b7?w=500&h=300&fit=crop')"></div>
                    <div class="proj-title">Projet</div>
                    <div class="proj-arrow"></div>
                </div>

              </a>
           
            
            <div class="proj page-3 hidden" data-page="3">
                <div class="proj-image" style="background-image: url('https://images.unsplash.com/photo-1574634534925-b9bbcf9e8c55?w=500&h=300&fit=crop')"></div>
                <div class="proj-title">Solutions durables</div>
                <div class="proj-arrow"></div>
            </div>
        </div>

        <div class="pagination" >
            <button class="nav-btn" id="prevBtn" onclick="changePage('prev')">&lt;</button>
            <button class="active" onclick="goToPage(1)">1</button>
            <button onclick="goToPage(2)">2</button>
            <button onclick="goToPage(3)">3</button>
            <button class="nav-btn" id="nextBtn" onclick="changePage('next')">&gt;</button>
        </div>
    </section>
