 <section class="projets">
        <h2>Galerie</h2>
        
        <div class="grid-container" id="projectsGrid">
            <!-- Page 1 -->
           <a href="/gal/autoliv_galerie" class="proj-link">
                <div class="proj page-1" data-page="1">
                    <div class="proj-image" style="background-image: url('/Photos/Autoliv/Good/auto.jpg')"></div>
                    <div class="proj-title">Autoliv</div>
                    <div class="proj-arrow"></div>
                </div>
           </a>
            
             <a href="/gal/visteon_galerie"  class="proj-link">
                 <div class="proj page-1" data-page="1">
                    <div class="proj-image" style="background-image: url('/Photos/Visteon/visteonGood.jpeg')"></div>
                    <div class="proj-title">Visteon</div>
                    <div class="proj-arrow"></div>
                </div>
            </a>
           
             <a href="/gal/yazaki_galerie"  class="proj-link">
                    <div class="proj page-1" data-page="1">
                        <div class="proj-image" style="background-image: url('/Photos/YAZAKI/good.jpg')"></div>
                        <div class="proj-title">Yazaki</div>
                        <div class="proj-arrow"></div>
                    </div>
             </a>

            <a href="/gal/sebn_galerie"  class="proj-link">
                <div class="proj page-1" data-page="1">
                    <div class="proj-image" style="background-image: url('/Photos/SEBN_El_Fajja/proj.jpeg')"></div>
                    <div class="proj-title">SEBN TN</div>
                    <div class="proj-arrow"></div>
               </div>
            </a>  
           
            <a href="/gal/ey_galerie"  class="proj-link">
                 <div class="proj page-1" data-page="2">
                    <div class="proj-image" style="background-image: url('/Photos/EY/proj2.jpg')"></div>
                    <div class="proj-title">ERNST & YOUNG</div>
                    <div class="proj-arrow"></div>
                </div>

              </a>
             <a href="/gal/hekma_galerie"  class="proj-link">
                 <div class="proj page-1" data-page="1">
                <div class="proj-image" style="background-image: url('/contenu/El_Hekma/cop.jpg')"></div>
                <div class="proj-title">EL HEKMA</div>
                <div class="proj-arrow"></div>
            </div>

             </a>
           

            <!-- Page 2 -->
            
           
             <a href="/gal/sews_galerie"  class="proj-link">
              <div class="proj page-2 hidden" data-page="2">
                    <div class="proj-image" style="background-image: url('/Photos/SEWS/proj.jpg')"></div>
                    <div class="proj-title">SEWS TN</div>
                    <div class="proj-arrow"></div>
              </div>

             </a>
            
             <a href="/gal/tunisie_galerie"  class="proj-link">
                <div class="proj page-2 hidden" data-page="2">
                    <div class="proj-image" style="background-image: url('/Photos/Tunisie_Cable/proj.jpeg')"></div>
                    <div class="proj-title">TUNISIE CÂBLE</div>
                    <div class="proj-arrow"></div>
                </div>
             </a>
           
             
             <a href="/gal/visteon_galerie"  class="proj-link">
                 <div class="proj page-2 hidden" data-page="2">
                    <div class="proj-image" style="background-image: url('https://images.unsplash.com/photo-1581092160607-ee67ecf3fbf2?w=500&h=300&fit=crop')"></div>
                    <div class="proj-title">Projet</div>
                    <div class="proj-arrow"></div>
                </div>

             </a>
            

            <!-- Page 3 -->
              <a href="/gal/visteon_galerie"  class="proj-link">
                <div class="proj page-3 hidden" data-page="3">
                    <div class="proj-image" style="background-image: url('https://images.unsplash.com/photo-1565616464561-a4cb0387c8b7?w=500&h=300&fit=crop')"></div>
                    <div class="proj-title">Projet</div>
                    <div class="proj-arrow"></div>
                </div>

              </a>
           
            
            <div class="proj page-3 hidden" data-page="3">
                <div class="proj-image" style="background-image: url('https://images.unsplash.com/photo-1574634534925-b9bbcf9e8c55?w=500&h=300&fit=crop')"></div>
                <div class="proj-title">Solutions durables</div>
                <div class="proj-arrow"></div>
            </div>
        </div>

        <div class="pagination" id="pagination">
            <button class="nav-btn" id="prevBtn" onclick="changePage('prev')">&lt;</button>
            <button class="active" onclick="goToPage(1)">1</button>
            <button onclick="goToPage(2)">2</button>
            <button onclick="goToPage(3)">3</button>
            <button class="nav-btn" id="nextBtn" onclick="changePage('next')">&gt;</button>
        </div>
    </section>
