   

    <div class="container">
        
        <ul class="galery">
            <li><img src="/contenu/autoliv/Alarme - incendie.jpeg"></li>
            <li><img src="/contenu/autoliv/AUROLIV- Lecteur de Code.JPG"></li>
            <li><img src="/contenu/autoliv/Autoliv - Caméra 2.JPG"></li>
            <li><img src="/contenu/autoliv/Autoliv - Caméra 3.JPG"></li>
            <li><img src="/contenu/autoliv/Autoliv - Caméra 4.JPG"></li>
            <li><img src="/contenu/autoliv/Autoliv - Caméra 7.jpg"></li>
            <li><img src="/contenu/autoliv/AUTOLIV-Lecteur emprinte 1.JPG"></li>
            <li><img src="/contenu/autoliv/Autoliv.JPG"></li>
            <li><img src="/contenu/autoliv/Centrale.jpg"></li>
            <li><img src="/contenu/autoliv/caméra .jpeg"></li>
            <li><img src="/contenu/autoliv/Lecteur.jpg"></li>
            <li><img src="/contenu/autoliv/im ccccc.jpeg"></li>
            <li><img src="/contenu/autoliv/kkkkk.jpeg"></li>
            <li><img src="/contenu/autoliv/lecteur d'empriente.jpg"></li>           
        </ul>
        </div>

         <!-- Modal pour agrandir les images et videos -->
  <!-- Modal pour image ou vidéo -->
    <div id="imageModal" class="modal">
    <span class="modal-close">&times;</span>
    <img id="modalImage" src="" alt="">
    <video id="modalVideo" controls style="display: none;">
        <source id="modalVideoSource" src="" type="video/mp4">
        Votre navigateur ne supporte pas les vidéos HTML5.
    </video>
    </div>


 <script src="/js/scriptGalerie.js" defer></script>
