   

    <div class="container">
        

        <ul class="galery">
            <li><img src="/Contenu/Projet EY/EY-.jpg"></li>
            <li><img src="/Contenu/Projet EY/EY-1.jpg"></li>
            <li><img src="/Contenu/Projet EY/EY.jpg"></li>
            
            <li>
                <video controls muted autoplay loop preload="metadata">
                    <source src="/Contenu/Projet EY/202312210911.mp4" type="video/mp4">
                </video>
            </li>
            <li><img src="/Contenu/Projet EY/IMG-20230213-WA0055.jpg"></li>
            <li><img src="/Contenu/Projet EY/WhatsApp Image 2023-11-07 à 13.31.03_21f33d3d.jpg"></li>
             <li>
                <video controls muted autoplay loop preload="metadata">
                    <source src="/Contenu/Projet EY/WhatsApp Vidéo 2023-11-07 à 13.31.21_3efe265c.mp4" type="video/mp4">
                </video>
            </li>
            <li><img src="/Contenu/Projet EY/WhatsApp Image 2023-11-07 à 13.31.03_4a48b772.jpg"></li>
            <li><img src="/Contenu/Projet EY/WhatsApp Image 2023-11-07 à 13.31.03_fe874718.jpg"></li>
        
           
        </ul>
    </div>

     <!-- Modal pour agrandir les images et videos -->
  <!-- Modal pour image ou vidéo -->
    <div id="imageModal" class="modal">
    <span class="modal-close">&times;</span>
    <img id="modalImage" src="" alt="">
    <video id="modalVideo" controls style="display: none;">
        <source id="modalVideoSource" src="" type="video/mp4">
        Votre navigateur ne supporte pas les vidéos HTML5.
    </video>
    </div>


 <script src="/js/scriptGalerie.js" defer></script>
