   

    <div class="container">
        

        <ul class="galery">
            <li><img src="/Contenu/El_Hekma/WhatsApp Image 2024-12-18 à 21.24.14_a891ec69.jpg"></li>
                  <li><img src="/Contenu/El_Hekma/WhatsApp Image 2024-12-18 à 21.26.20_7a325510.jpg"></li>
                  <li><img src="/Contenu/El_Hekma/WhatsApp Image 2024-12-18 à 21.24.17_8096ef62.jpg"></li>
                   <li>
                     <video controls muted autoplay loop preload="metadata">
                     <source src="/Contenu/El_Hekma/Passage rapide.mp4" type="video/mp4">
                     </video>
                 </li>
                  <li><img src="/Contenu/El_Hekma/WhatsApp Image 2024-12-18 à 21.25.39_bc06ce9a.jpg"></li>
                    <li>
                     <video controls muted autoplay loop preload="metadata">
                     <source src="/Contenu/El_Hekma/WhatsApp Vidéo 2025-05-10 à 10.41.54_847b508e.mp4" type="video/mp4">
                     </video>
                 </li>
                  <li><img src="/Contenu/El_Hekma/WhatsApp Image 2024-12-18 à 21.26.20_1ba07597.jpg"></li>
                  <li><img src="/Contenu/El_Hekma/WhatsApp Image 2024-12-18 à 21.26.21_f9c03b1f.jpg"></li>
                  
                
               </ul>
    </div>

     <!-- Modal pour agrandir les images et videos -->
  <!-- Modal pour image ou vidéo -->
    <div id="imageModal" class="modal">
    <span class="modal-close">&times;</span>
    <img id="modalImage" src="" alt="">
    <video id="modalVideo" controls style="display: none;">
        <source id="modalVideoSource" src="" type="video/mp4">
        Votre navigateur ne supporte pas les vidéos HTML5.
    </video>
    </div>


 <script src="/js/scriptGalerie.js" defer></script>
