   

    <div class="container">
        

        <ul class="galery">
            <li><img src="/contenu/sebn/1679136114537.jpeg"></li>
            <li><img src="/contenu/sebn/sewsx2.jpg"></li>
            <li><img src="/contenu/sebn/WhatsApp Image 2023-10-21 à 10.39.57_881f506a.jpg"></li>
            <li><img src="/contenu/sebn/WhatsApp Image 2023-10-21 à 10.39.58_62eb5e07.jpg"></li>
            <li><img src="/contenu/sebn/WhatsApp Image 2023-10-21 à 10.40.11_55ab409b.jpg"></li>
            <li><img src="/contenu/sebn/WhatsApp Image 2023-10-21 à 10.40.11_f3f52dd2.jpg"></li>
        </ul>
    </div>

     <!-- Modal pour agrandir les images et videos -->
  <!-- Modal pour image ou vidéo -->
    <div id="imageModal" class="modal">
    <span class="modal-close">&times;</span>
    <img id="modalImage" src="" alt="">
    <video id="modalVideo" controls style="display: none;">
        <source id="modalVideoSource" src="" type="video/mp4">
        Votre navigateur ne supporte pas les vidéos HTML5.
    </video>
    </div>


 <script src="/js/scriptGalerie.js" defer></script>
