   

    <div class="container">
        <ul class="galery">
                            <li><img src="/Contenu/visteon/M1.jpg"></li>
                            <li><img src="/Contenu/visteon/M2.jpg"></li>
                            <li><img src="/Contenu/visteon/M3.jpg"></li>
                            <li><img src="/Contenu/visteon/M4.jpg"></li>
                            <li><img src="/Contenu/visteon/M5.jpg"></li>
                            <li><img src="/Contenu/visteon/M6.jpg"></li>
                            <li><img src="/Contenu/visteon/M7.jpg"></li>
                            <li><img src="/Contenu/visteon/M8.jpg"></li>
                          
         </ul>
    </div>

     <!-- Modal pour agrandir les images et videos -->
  <!-- Modal pour image ou vidéo -->
    <div id="imageModal" class="modal">
    <span class="modal-close">&times;</span>
    <img id="modalImage" src="" alt="">
    <video id="modalVideo" controls style="display: none;">
        <source id="modalVideoSource" src="" type="video/mp4">
        Votre navigateur ne supporte pas les vidéos HTML5.
    </video>
    </div>


 <script src="/js/scriptGalerie.js" defer></script>
