   

    <div class="container">
        

        <ul class="galery">
                        <li><img src="/contenu/yazaki/controle daccès - Yazaki - 3.jpg"></li>
                        <li><img src="/contenu/yazaki/controle daccès - Yazaki 1.jpg"></li>
                        <li><img src="/contenu/yazaki/controle daccès - Yazaki.jpg"></li>
                        <li><img src="/contenu/yazaki/WhatsApp Image 2023-10-17 à 09.42.59_2b26ab79.jpg"></li>         
                             <video controls muted autoplay loop preload="metadata">
                             <source src="/video/Passage rapide.mp4" type="video/mp4">
                             </video>
                      </li>
                        <li><img src="/contenu/yazaki/WhatsApp Image 2023-10-17 à 09.42.59_e096eec2.jpg"></li>
                        
                        
                       
        </ul>
    </div>

     <!-- Modal pour agrandir les images et videos -->
  <!-- Modal pour image ou vidéo -->
    <div id="imageModal" class="modal">
    <span class="modal-close">&times;</span>
    <img id="modalImage" src="" alt="">
    <video id="modalVideo" controls style="display: none;">
        <source id="modalVideoSource" src="" type="video/mp4">
        Votre navigateur ne supporte pas les vidéos HTML5.
    </video>
    </div>


 <script src="/js/scriptGalerie.js" defer></script>
