

<div class="container">
    <div class="grid-2">
        <section>
            <h2>À propos <span>du projet</span></h2>
            <p>Pour répondre à un besoin de gestion d’accès fluide et sécurisé, nous avons déployé une solution simple, fiable et adaptée aux environnements nécessitant un contrôle léger mais efficace des flux piétons.</p>


            <a href="/gal/hekma_galerie" role="button">APERÇU</a>
     

        <figure class="scroll-figure">
            <div class="scroll-track">
                <img src="/contenu/El_Hekma/WhatsApp Image 2024-12-18 à 21.24.14_a891ec69.jpg" alt="img1">
                <img src="/contenu/El_Hekma/WhatsApp Image 2024-12-18 à 21.24.17_8096ef62.jpg" alt="img2">
                <img src="/contenu/El_Hekma/WhatsApp Image 2024-12-18 à 21.25.39_bc06ce9a.jpg" alt="img3">
                <img src="/contenu/El_Hekma/WhatsApp Image 2024-12-18 à 21.26.20_1ba07597.jpg" alt="img4">
                <img src="/contenu/El_Hekma/WhatsApp Image 2024-12-18 à 21.26.20_7a325510.jpg" alt="img5">    </div>    
    </figure>

     </section>

        <!-- Solutions -->
         <div class="solution">

            <div class="project-content">
            <div class="client-info">
                <h2 class="section-title">Client</h2>
                <p><strong>EL HEKMA    </strong> – établissement (scolaire, médical ou administratif, à adapter selon votre besoin).</p>
            </div>
               
                <!---------------------------------------------------------------------->
                        <h2 class="section-title">Solutions installées</h2>
                        <div class="solution-list">

                        <div class="solution-item">
                            <div class="solution-icon">🚶‍♂️</div>
                            <div class="solution-content">
                            <h3>Couloir rapide Ozak – simple passage</h3>
                            <p>Installation d’un <span class="highlight-number">couloir rapide Ozak</span> permettant un passage unidirectionnel sécurisé, combinant rapidité et fiabilité.</p>
                            </div>
                        </div>

                        <div class="solution-item">
                            <div class="solution-icon">🆔</div>
                            <div class="solution-content">
                            <h3>Lecteurs de badge</h3>
                            <p>Intégration de <span class="highlight-number">2 lecteurs de badges</span> pour identifier les utilisateurs autorisés à entrer ou sortir.</p>
                            </div>
                        </div>

                        </div>

                <!---------------->
            </div>
        </div>
    </div>
</div>
            
         </div>

        





<%- include('../partials/comment', { comments, projectSlug }) %>

