
<div class="container">
    <div class="grid-2">
        <section>
            <h2>À propos <span>du projet</span></h2>
            <p>Autoliv est un leader mondial des systèmes de sécurité automobile, spécialisé dans le développement et la fabrication d'airbags, de ceintures de sécurité et de systèmes de sécurité passive.</p>

            <p><span class="label">Client</span> · <span class="value">Autoliv</span></p>
            <p><span class="label">Créé par</span> · <span class="value">NTAS</span></p>
            <p><span class="label">Terminé</span> · <span class="value">20 juin 2025</span></p>
            <p><span class="label">Site internet</span> · <span class="value"><a href="https://www.autoliv.com/" target="_blank">www.autoliv.com</a></span></p>

            <a href="/projet/aperçu/autoliv-apercu.html" role="button">APERÇU</a>
        </section>

        <figure class="scroll-figure">
            <div class="scroll-track">
                <img src="/Photos/Autoliv/AUROLIV- Code.JPG" alt="img1">
                <img src="/Photos/Autoliv/AUROLIV- Code.JPG" alt="img2">
                <img src="/Photos/Autoliv/AUROLIV- Code.JPG" alt="img3">
                <img src="/Photos/Autoliv/AUROLIV- Code.JPG" alt="img4">
                <img src="/Photos/Autoliv/AUROLIV- Code.JPG" alt="img5">
            </div>
        </figure>
    </div>
</div>





<%- include('../partials/comment', { comments, projectSlug }) %>

